
html{
  height: 100%;
}


body{
    background-image: linear-gradient(rgb(17, 212, 196), rgb(22, 43, 238));
    background-repeat: no-repeat;
    background-color: rgb(22, 43, 238);
    text-align: center;
}

.container{
text-align: center;
}



.image1{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top:20px;
  padding-bottom: 10px;
  

}

.overlay{

  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity: 0;
  width: 100%;
  height: 100%;
background-color: black;

}

.image1:hover.overlay{

opacity: 1;

}

nav{
  background-color: rgba(0, 0, 0, 0.363);
padding-left: 20%;
padding-right: 20%;
height: fit-content;
padding-top: 1.5px;
padding-bottom: 1.5px;
text-align: center;
width: 60%;
}

nav ul{

  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

}

nav li{

  background-color: none;
  margin-left: auto;
  margin-right: auto;
  border: orangered;
  border-style:solid;
}

nav li:hover{background-color: gray;}

main{
padding-top: 0px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

footer{
background-color: rgba(7, 5, 2, 0.7);
width: 100%;
margin-left: auto;
margin-right: auto;
text-align: center;
height: 5%;
}

.footer_text{

padding-top: 10px;
padding-bottom: 10px;
color: white;

}

nav a {

  text-decoration: none;
  padding-left:10px;
  padding-right: 10px;
  color: white;

}

h2 a{

color: rgb(128, 25, 0);
font-size: medium;

}

.widgets{
width: 100%;
padding-bottom: 10%;
padding-top: 10%;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
grid-column-gap: 30px;
}

.maps iframe{float: right;}
.youtube iframe{float: left;}

main p{

 color: white;
}

main h1{
  color: white;
}

.menu_button{display: none;}




@media only screen and (min-width: 400px) {


  html{height: 100%;}

  .nav_phone{display: none;}

}
@media only screen and (max-width: 400px) {



html{height: 100%;}
 
main{

}

  header{
    height: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  
  
  .menu_button{
    display: inline;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  background:none;
  cursor: pointer;
  z-index: 2;
  }

  nav{
    display: none;
    }



  .nav_phone ul{ 
   
    
   margin-top: auto;
   margin-bottom: auto;
   margin-left: auto;
   margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
    grid-row-gap: 70px;


  }

  .nav_phone li{
    border:none;
    width: fit-content;
  }

  .nav_phone li a{  
    text-decoration: none;
    color: blanchedalmond;
  }

  .nav_phone li a:hover{color: gray;}



.nav_phone{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 1fr;

left: 0;
top: 0;
width: 0;
position: fixed;
z-index: 1;
background-color: black;
opacity: 0.9;
overflow-x: hidden;
padding: none;
margin:none;
height: 100%;
transition: 0.5s;

}

.nav_phone_button{
  z-index: 2;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  background: none;
  border: none;
  color: white;
  
}
  

.image1{

  display: none;
}

.widgets{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 0;

}

.maps iframe{float: none;}
.youtube iframe{float: none;}



footer{width: fill;

}

}





